{
  "openapi": "3.0.0",
  "x-api-id": "dapi-devnet",
  "info": {
    "title": "DAPI devnet",
    "version": "0.1.0",
    "description": "The Dash decentralized API"
  },
  "servers": [
    {
      "url": "http://devnet-maithai.thephez.com:3000"
    }
  ],
  "paths": {
    "/addToBloomFilter": {
      "post": {
        "operationId": "addToBloomFilter",
        "deprecated": false,
        "summary": "addToBloomFilter",
        "description": "Adds an element to an existing bloom filter",
        "tags": [
          "L1"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "method",
                  "id",
                  "jsonrpc",
                  "params"
                ],
                "properties": {
                  "method": {
                    "type": "string",
                    "default": "addToBloomFilter",
                    "description": "Method name"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "format": "int32",
                    "description": "Request ID"
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0",
                    "description": "JSON-RPC Version (2.0)"
                  },
                  "params": {
                    "title": "Parameters",
                    "type": "object",
                    "required": [
                      "originalFilter",
                      "element"
                    ],
                    "properties": {
                      "originalFilter": {
                        "type": "string",
                        "default": "",
                        "description": "Original filter"
                      },
                      "element": {
                        "type": "string",
                        "default": "",
                        "description": "Element to add to filter"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/estimateFee": {
      "post": {
        "operationId": "estimateFee",
        "deprecated": false,
        "summary": "estimateFee",
        "description": "Estimates transaction fee based on the size of number of blocks.",
        "tags": [
          "L1"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "method",
                  "id",
                  "jsonrpc",
                  "params"
                ],
                "properties": {
                  "method": {
                    "type": "string",
                    "default": "estimateFee",
                    "description": "Method name"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "format": "int32",
                    "description": "Request ID"
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0",
                    "description": "JSON-RPC Version (2.0)"
                  },
                  "params": {
                    "title": "Parameters",
                    "type": "object",
                    "required": [
                      "nbBlocks"
                    ],
                    "properties": {
                      "nbBlocks": {
                        "type": "integer",
                        "default": 1,
                        "description": "Number of blocks for fee estimate"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getBestBlockHeight": {
      "post": {
        "operationId": "getbestblockheight",
        "deprecated": false,
        "summary": "getBestBlockHeight",
        "description": "Returns best block height",
        "tags": [
          "L1"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "method",
                  "id",
                  "jsonrpc"
                ],
                "properties": {
                  "method": {
                    "type": "string",
                    "default": "getBestBlockHeight",
                    "description": "Method name"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "format": "int32",
                    "description": "Request ID"
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0",
                    "description": "JSON-RPC Version (2.0)"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getMNList": {
      "post": {
        "operationId": "getMNList",
        "deprecated": false,
        "summary": "getMNList",
        "description": "Returns masternode list",
        "tags": [
          "L1"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "method",
                  "id",
                  "jsonrpc"
                ],
                "properties": {
                  "method": {
                    "type": "string",
                    "default": "getMNList",
                    "description": "Method name"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "format": "int32",
                    "description": "Request ID"
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0",
                    "description": "JSON-RPC Version (2.0)"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getUser": {
      "post": {
        "operationId": "getUser",
        "deprecated": false,
        "summary": "getUser",
        "description": "Returns  a blockchain user",
        "tags": [
          "L2"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "method",
                  "id",
                  "jsonrpc",
                  "params"
                ],
                "properties": {
                  "method": {
                    "type": "string",
                    "default": "getUser",
                    "description": "Method name"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "format": "int32",
                    "description": "Request ID"
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0",
                    "description": "JSON-RPC Version (2.0)"
                  },
                  "params": {
                    "title": "Parameters",
                    "type": "object",
                    "required": [
                      "username"
                    ],
                    "properties": {
                      "username": {
                        "type": "string",
                        "default": "",
                        "description": "Either a username or a user's registration tx id"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/searchUsers": {
      "post": {
        "operationId": "searchUsers",
        "deprecated": false,
        "summary": "searchUsers",
        "description": "Adds an element to an existing bloom filter",
        "tags": [
          "L2"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "method",
                  "id",
                  "jsonrpc",
                  "params"
                ],
                "properties": {
                  "method": {
                    "type": "string",
                    "default": "searchUsers",
                    "description": "Method name"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "format": "int32",
                    "description": "Request ID"
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0",
                    "description": "JSON-RPC Version (2.0)"
                  },
                  "params": {
                    "title": "Parameters",
                    "type": "object",
                    "required": [
                      "pattern",
                      "limit",
                      "offset"
                    ],
                    "properties": {
                      "pattern": {
                        "type": "string",
                        "default": "User001",
                        "description": "Search pattern"
                      },
                      "limit": {
                        "type": "integer",
                        "default": 10,
                        "description": "Maximum number of results to return"
                      },
                      "offset": {
                        "type": "integer",
                        "default": 0,
                        "description": "Starting location in result set"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "JsonRpcRequired": {
        "type": "object",
        "required": [
          "id",
          "jsonrpc"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "default": 1,
            "format": "int32",
            "description": "Request ID"
          },
          "jsonrpc": {
            "type": "string",
            "default": "2.0",
            "description": "JSON-RPC Version (2.0)"
          }
        },
        "discriminator": {
          "propertyName": "method_name"
        }
      }
    }
  },
  "x-send-defaults": true,
  "x-headers": [],
  "x-explorer-enabled": true,
  "x-proxy-enabled": true,
  "x-samples-enabled": true,
  "x-samples-languages": [
    "curl",
    "node",
    "ruby",
    "javascript",
    "python"
  ],
  "tags": []
}